* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

.wrapper {
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1190px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    padding-top: 12px;
    padding-bottom: 9px;
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    margin-right: 32px;
    transition: all .2s linear;
}

.header__item:hover {
    color: #7BC30E;
}

.header__item:last-child {
    margin-right: 0;
}

.header__intro {
    padding-top: 150px;
    padding-bottom: 125px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__title h1 {
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.header__title h1 span {
    color: #7BC30E;
}

.header__subtitle p {
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.header__img__top {
    padding-left: 70px;
}

.header__img img {
    margin-top: -64px;
}

.header__button {
    padding-top: 22px;
}

.header__btn {
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 8px 16px;
    background: #7BC30E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    transition: all .2s linear;
}

.header__btn:hover {
    background: #67a30e;
}

.header__network__phone {
    width: 52px;
    height: 52px;
    background: #7BC30E;
    border-radius: 50px;
    text-align: center;
    padding: 12px 0;
    margin-bottom: 7px;
}

.header__network__phone img {
    transition: all .2s linear;
}

.header__network__phone img:hover {
    transform: scale(1.3);
}

.header__network__social {
    width: 52px;
    height: 213.78px;
    background: #7BC30E;
    border-radius: 50px;
    text-align: center;
    padding: 12px 0;
}  

.header__network__social img {
    transition: all .2s linear;
}

.header__network__social img:hover {
    transform: scale(1.3);
}


.bg__img__one {
    padding-top: 46px;
}

.bg__img__one__row {
    display: flex;
    justify-content: space-between;
}

.vitgrass {
    padding-bottom: 188px;
    margin-top: -350px;
}

.vitgrass__row {
    display: flex;
}

.vitgrass__left__img {
    padding-bottom: 34px;
}

.vitgrass__text {
    font-family: 'Caveat';
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    color: #034402;
    width: 246px;
}

.vitgrass__line {
    display: flex;
}

.vitgrass__left {
    padding-right: 67px;
}

.vitgrass__suptitle {
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
}

.vitgrass__title {
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 48px;
    line-height: 63px;
    color: #7BC30E;
    margin-bottom: 6px;
}

.vitgrass__subtitle {
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #8E8E8E;
    margin-bottom: 2px;
    width: 392px;
    padding-bottom: 30px;
}

.vitgrass__flex {
    display: flex;
    align-items: center;
    padding-bottom: 26px;
}

.vitgrass__namber {
    width: 59px;
    height: 59px;
    background: #FFFFFF;
    border: 4px solid #7BC30E;
    border-radius: 50%;
    text-align: center;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #7BC30E;
    padding-left: 18px;
}

.vitgrass__txt {
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
    width: 500px;
    margin-left: 16px;
}

.vitgrass__namber__1 {
    padding-left: 1px;
}

.vitgrass__namber__2 {
    margin-left: -1px;
}


.vitgrass__namber__3 {
    margin-left: -1px;
}

.more {
    padding-top: 86px;
    padding-bottom: 225px;
    background-image: url(../img/more-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.more__holder {
    display: flex;
    justify-content: space-between;
}

.more__text {
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}

.more__title h2 {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 63px;
    color: #7BC30E;
    margin-bottom: 6px;
}

.more__subtitle {
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    width: 460px;
}

.more__txt {
    font-family: 'Caveat';
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    width: 324px;
}

.more__flex__column {
    display: flex;
}

.more__img {
    padding-right: 28px;
}

.more__line {
    margin-top: -152px;
    left: -65px;
    position: relative;
}

.more__cards {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.more__card {
    width: 265px;
    height: 460px;
    background: linear-gradient(180deg, rgba(0, 192, 31, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 31px;
    padding-top: 44px;
    padding-bottom: 36px;
    padding-left: 25px;
    padding-right: 21px;
}

.more__namber {
    width: 92px;
    height: 77px;
    background: #7BC30E;
    border-radius: 50px;
    text-align: center;
    font-family: 'Roboto Slab';
}

.more__namber p {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding-top: 13px;
    padding-left: 17px;
}

.more__card__title h3 {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    padding-top: 16px;
    border-bottom: 2px solid #FFFFFF;
    padding-bottom: 8px;
}

.more__card__subtitle {
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    width: 215px;
    margin-top: 17px;
}

.more__card__subtitle span {
   color: #7BC30E;
}

.more__namber__70 {
    width: 122px;
    height: 77px;
    background: #7BC30E;
    border-radius: 50px;
    text-align: center;
    font-family: 'Roboto Slab';
}

.more__namber__70 p {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding-top: 12px;
    padding-left: 27px;
}

.more__namber__400 {
    width: 122px;
    height: 77px;
    background: #7BC30E;
    border-radius: 50px;
    text-align: center;
    font-family: 'Roboto Slab';
}

.more__namber__400 p {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding-top: 12px;
    padding-left: 20px;
}

.bg__two {
    padding-top: 63px;
}

.bg__img__two {
    float: right;
}

.workout {
    padding-bottom: 40px;
}

.workout__row {
    display: flex;
    justify-content: space-between;
}

.workout__title h3 {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #333333;
    margin-bottom: 13px;
}

.workout__subtitle p {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #7BC30E;
    margin-bottom: 33px;
}

.workout__suptitle p {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
    margin-bottom: 25px;
    width: 435px;
}

.workout__down {
    padding-top: 10px;
    padding-bottom: 100px;
}

.bg__three {
    margin-top: -200px;
}

.vitamins {
    padding-top: 70px;
    padding-bottom: 102px;
    background-image: url(../img/vitamins.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.vitamins__holder {
    padding-left: 150px;
}

.vitamins__block {
    width: 800px;
    height: 608px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 50px;
    padding-top: 46px;
    padding-left: 97px;
    padding-right: 97px;
}

.vitamins__subtitle {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 63px;
    color: #FFFFFF;
}

.vitamins__text {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #7BC30E;
}

.vitamins__suptitle {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 63px;
    color: #7BC30E;
    margin-bottom: 10px;
}

.vitamins__txt {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    padding-bottom: 45px;
}

.vitamins__line__circle {
    width: 83px;
    height: 128px;
    border: 4px solid #FFFFFF;
    border-radius: 60px;
    text-align: center;
    padding: 18px;
}

.vitamins__line__circle__30 {
    width: 83px;
    height: 128px;
    border: 4px solid #FFFFFF;
    border-radius: 60px;
    text-align: center;
    padding-top: 17px;
}

.vitamins__line__circle__30 p {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
}

.vitamins__line__circle p {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
}

.vitamins__line__circle span {
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    margin-left: -8px;
}

.vitamins__line__circle__txt {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.vitamins__line__text p {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    width: 102px;
    margin-left: -10px;
    padding-top: 13px;
}

.vitamins__line {
    display: flex;
    justify-content: space-between;
}

.reasons {
    padding-top: 113px;
    padding-bottom: 83px;
}

.reasons__holder {
    text-align: center;
    padding-bottom: 106px;
}

.reasons__title h2 {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 35px;
    color: #333333;
}

.reasons__title span {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #7BC30E;
    line-height: 30px;
}

.reasons__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 80px;
}

.reasons__card {
    width: 290px;
}

.reasons__img img {
    padding-bottom: 17px;
    border-radius: 45px;
}

.reasons__title h3 {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
    margin-bottom: 10px;
    width: 214.45px;
    padding-left: 10px;
}

.reasons__subtitle p {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
    width: 215px;
    padding-left: 10px;
}

.bg__img__three__img img {
    float: right;
    padding-top: 16px;
}

.overdose {
    padding-top: 151px;
    padding-bottom: 120px;
    background: #EEEEEE;
}

.overdose__row {
    display: flex;
}

.overdose__holder {
    width: 560px;
    padding-left: 69px;
}

.overdose__title h2 {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #333333;
    margin-bottom: 2px;
}

.overdose__subtitle p {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #7BC30E;
    margin-bottom: 15px;
}

.overdose__suptitle p {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #8E8E8E;
    margin-bottom: 55px;
}

.overdose__text p {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
    margin-bottom: 25px;
}

.catalog {
    padding-top: 71px;
    padding-bottom: 139px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/more-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.catalog__holder {
    text-align: center;
}

.catalog__title h2 {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 63px;
    color: #F2F2F2;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-bottom: 70px;
}

.catalog__cards {
    display: flex;
    justify-content: space-between;
}

.catalog__card {
    width: 265px;
    height: 460px;
    background: linear-gradient(180deg, #00C01F 0%, #000000 100%);
    border-radius: 31px;
    padding-top: 37px;
    padding-bottom: 16px;
    text-align: center;
}


.catalog__title__card h3{
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #F2F2F2;
    margin-bottom: 13px;
    padding-top: 12px;
}

.catalog__text {
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #F2F2F2;
    padding-bottom: 25px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
}

.catalog__subtitle {
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #F2F2F2;
    margin-bottom: 11px;
}

.catalog__flex {
    display: flex;
    justify-content: space-around;
    padding-bottom: 27px;
}

.catalog__txt__flex {
    padding-top: 7px;
}

.catalog__button__flex {
    margin-top: -21px;
}

.catalog__txt__flex p {
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #F2F2F2;
    margin-bottom: 6px;
}

.catalog__txt p {
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #F2F2F2;
    margin-top: 40px;
}

.catalog__button__flex {
    padding-top: 10px;
}

.catalog__button__top {
    padding-top: 10px;
}

.catalog__btn {
    width: 238px;
    height: 48px;
    background: #7BC30E;
    border-radius: 50px;
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: all .2s linear;
    padding: 9px 63px;
}

.catalog__btn__top {
    width: 238px;
    height: 48px;
    background: #7BC30E;
    border-radius: 50px;
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: all .2s linear;
    padding: 9px 63px;
}

.catalog__btn:hover {
    background: #67a30e;
}

.order {
    padding-bottom: 145px;
    margin-top: -600px;
}

.order__title h2 {
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 32px;
    color: #333333;
    margin-bottom: 9px;
}

.order__subtitle p{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #8E8E8E;
    padding-bottom: 25px;
    width: 397px;
}

.order__txt {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
    width: 589px;
}

.bg__img__five {
    text-align: center;
    margin-top: -101px;
}

.bg__img__four {
    display: flex;
    justify-content: space-between;
    padding-top: 200px;
}

.goodgreen {
    padding-top: 35px;
    padding-bottom: 43px;
    background-image: url(../img/goodgreen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.goodgreen__holder {
    text-align: center;
    padding-left: 150px;
}

.goodgreen__block {
    width: 865px;
    height: 574px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 70px;
    padding-top: 39px;
    padding-bottom: 64px;
    padding-left: 120px;
    padding-right: 120px;
    text-align: center;
}

.goodgreen__title h2 {
    font-family: 'Roboto Slab';
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.goodgreen__title span {
    color: #7BC30E;
}

.goodgreen__subtitle p {
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    padding-bottom: 34px;
    width: 623px;
}

.goodgreen__flex {
    display: flex;
    align-items: center;
    padding-bottom: 47px;
}

.goodgreen__right {
    display: flex;
    align-items: center;
}

.goodgreen__left {
    display: flex;
    align-items: center;
}

.goodgreen__img img{
    padding-right: 27px;
}

.goodgreen__txt p {
    font-family: 'Roboto Slab';
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 5px;
    text-align: left;
}

.goodgreen__suptitle p {
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    width: 243px;
    text-align: left;
}

.accept {
    padding-top: 35px;
    padding-bottom: 63px;
}

.accept__row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.accept__text {
    width: 520px;
}

.accept__title h2 {
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #333333;
    margin-bottom: 37px;
}

.accept__title span {
    color: #7BC30E;
}

.accept__subtitle p {
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
}

.ingredients {
    padding-top: 83px;
    padding-bottom: 98px;
    background-image: url(../img/ingredients__bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.ingredients__holder {
    text-align: center;
    padding-bottom: 60px;
}

.ingredients__title h2 {
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 48px;
    line-height: 52px;
    color: #333333;
    margin-bottom: 7px;
}

.ingredients__subtitle p {
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
}

.ingredients__block__images {
    display: flex;
    justify-content: space-between;
    z-index: 10;
    position: relative;
}

.ingredients__img__1 {
    width: 256px;
    z-index: 10;
    padding-left: 23px;
}

.ingredients__img__2 {
    width: 256px;
    z-index: 10;
    padding-left: 23px;
}

.ingredients__img__3 {
    width: 256px;
    z-index: 10;
    padding-left: 23px;
}

.ingredients__img__4 {
    width: 256px;
    z-index: 10;
    padding-left: 15px;
}

.ingredients__cards {
    margin-top: -111px;
    z-index: 20;
    position: absolute;
    display: flex;
    padding-bottom: 60px;
}

.ingredients__card {
    width: 256px;
    height: 301px;
    background: rgba(217, 217, 217, 0.5);
    border-radius: 45px;
    padding-top: 80px;
    padding-bottom: 73px;
    padding-left: 27px;
    padding-right: 9px;
    margin-right: 40px;
}

.ingredients__card__title h3 {
    width: 200px;
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 13px;
}

.ingredients__card__subtitle {
    width: 220px;
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
}

.ingredients__network {
   padding-top: 246px;
   display: flex;
   align-items: center;
}

.ingredients__icons {
    display: flex;
    align-items: center;
    padding-right: 29px;
}

.ingredients__icon {
    margin-right: 8px;
    transition: all .2s linear;
}

.ingredients__icon:hover {
    transform: scale(1.3);
}

.ingredients__flex {
    display: flex;
    align-items: center;
}

.ingredients__txt p {
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #034402;
    width: 647px;
}

.ingredients__block {
    width: 473px;
    height: 69px;
    background: #7BC30E;
    border-radius: 34.5px; 
    padding-top: 13px;
    padding-left: 36px;
}

.ingredients__suptitle p {
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    width: 228px;
}

.reviews {
    padding-bottom: 147px;
    margin-top: -134px;
}

.reviews__holder {
    text-align: center;
}

.reviews__title h2 {
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 9px;
    color: #333333;
}

.reviews__title span {
    color: #7BC30E;
}

.reviews__subtitle {
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #8E8E8E;
    padding-bottom: 124px;
}

.reviews__cards {
    display: flex;
    padding-bottom: 83px;
    justify-content: space-between;
}

.reviews__flex {
    display: flex;
}

.reviews__img {
    padding-right: 27px;
}

.reviews__txt {
    width: 206px;
}

.reviews__name {
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #333333;  
    margin-bottom: 1px;  
}

.reviews__review {
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #333333;
    margin-bottom: 7px;
}

.reviews__suptitle {
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
}

.footer {
    background-image: url(../img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 23px;
    padding-bottom: 53px;
}

.footer__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__left__img img {
    margin-top: -55px;
}

.footer__title h3 {
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #7BC30E;
    margin-bottom: 10px;
}

.footer__icons {
    display: flex;
    align-items: center;
}

.footer__icon { 
    margin-right: 8px;
    transition: all .2s linear;
}

.footer__icon:hover {
    transform: scale(1.3);
}

.footer__address p {
    width: 353px;
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.footer__flex {
    display: flex;
}

.footer__logo {
    margin-right: 15px;
}

.footer__namber{
    margin-bottom: 56px;
}

.footer__namber a {
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    transition: all .2s linear;
}

.footer__namber a:hover {
    color: #7BC30E;
}

.footer__link ul {
    list-style-type: none;
}

.footer__link ul li a {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
}

.footer__link ul li a:hover {
    text-decoration-line: underline;
}


.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup:target .popup__content {
    transform: perspective(600px) translate(0px, 0%) rotate(0deg);
    opacity: 1;
}

.popup__area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup__content {
    background: linear-gradient(180deg, #00C01F 0%, #000000 100%);
    border-radius: 37px;
    color: #000;
    padding: 30px;
    position: relative;
    transform: translate(0px, -100%);
    opacity: 0;
    transition: all 0.8s ease 0s;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    width: 373px;
    height: 615px;
    padding-top: 60px;
}

.popup__close {
    position: absolute;
    right: -33px;
    top: 20px;
    font-size: 20px;
    color: #ffffff;
    font-family: sans-serif;
    transition: all .2s linear;
}

.popup__close:hover {
    opacity: 0.7;
}

.popup__title h3 {
    font-size: 40px;
    margin: 0px 0px 1em 0px;
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
}

.popup__input {
    width: 303px;
    height: 38px;
    background: #7BC30E;
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    border: none;
    outline: none;
    margin-bottom: 13px;
    padding-left: 12px;
    padding-right: 12px;
}

.poput__money {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.popup__subtitle p {
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #7BC30E;
    padding-bottom: 10px;
}

.popup__subtitle__opacity {
    opacity: 0;
}

.popup_text {
    padding-top: 16px;
}

.popup__suptitle p {
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #7BC30E;
}

.popup_button {
    padding-top: 40px;
    text-align: center;
}

.popup_btn {
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #333333;
    background: #7BC30E;
    border-radius: 27.5px;
    padding: 17px 60px;
    transition: all .2s linear;
}

.popup_btn:hover {
    background: #67a30e;
}

.popup__txt p {
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 76px;
}

.popup__subtxt p {
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.popup_button_close {
    text-align: center;
    padding-top: 150px;
}

.popup__nal p {
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    margin-top: -100px;
}
